body{
  margin: 0;
  padding: 150px;
}

body{
  background-color: #35363E;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  font-size: 10px;
  /* font-family: 'Eczar', serif; */
}

main{
  /* max-width: 500px; */
  grid-column: 2/2;
}

main > *{
  margin: 10px 0;
}

/*GENERAL*/

.fluid{
  width: 100%;
}


/*TYPOGRAPH STYLES*/
*{
  font-family: inherit;
}

.Eczar{
  font-family: 'Eczar', serif;
}

.text-center{
    text-align: center;
}

.text-white{
  color: #FFFFFF;
}

.all-caps{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.large-money{
  font-size: 5em;
  font-weight: 600;
  margin: 0.16em 0 0.2em 0;
  line-height: 48px;
}

.large-money::before, .money::before{
  content: "$";
  float: left;
}

.money{
  letter-spacing: 0.1em;
}

h1{
  font-size: 3em;
}

p,a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5em;
}

p, .text{
  font-size: 1.5em;
  margin: 0.8em 0;
}
/*COMPONENTS STYLES*/
.alert,
.box{
  background-color: #3A3A42;
}
.alert header,
.box header{
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.alert header{
  /* padding-bottom: 1.2em; */
  border-bottom: 2px solid #36363F;
}

.alert header a,
.alert header p,
.box header a,
.box header p{
  /* margin: 0; */
  margin-top: 0;
}

.alert,
.box,
.container{
  position: relative;
  box-sizing: border-box;
  padding: 1.4em;
  width: 100%;
}

  /*ALERTS*/
  .alert-msg{
    display: flex;
  }

  .alert-msg > *{
    flex-grow: 1;
    margin: 0 1em;
  }

  .alert-msg > *:first-child{
    margin-left: 0;
  }

  .alert-msg > *:last-child{
    margin-right: 0;
  }

  .content{
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  .content p{
    flex-grow: 1;
  }

  .content .icon{
    color: #FFFFFF;
    margin: 0.8rem 4px;
    width: 3em;
  }

  /*OTHERS*/
  hr{
    margin: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }
  hr.example{
      background-image: repeating-linear-gradient(to right, #005D57 0 36%, #00B782 0 80%, #0EB 0 100%);
      border: none;
      height: 2px;
      transition: height 0.3s ease-in-out 0s;
  }

  ul{
    margin: 1rem 0 0 0;
    padding: 0;
    width: 100%;
  }

  li{
    list-style: none;
    margin: 0 0.6em;
  }

  li a{
    border-bottom: 2px solid #36363F;
    box-sizing: border-box;
    padding: 1.6em 0;
    height: 7.2em;
    /* padding: 1.6em 1.2em; */
    width: 100%;
    cursor: pointer;
    font-size: 1em;
  }

  li:last-child a{
    border: none;
  }

  li:last-child a.all-caps{
    font-size: 1.4em;
    padding: 0;
    padding-top: 1em;
    width: 100%;
    display: block;
    height: auto;
  }

  li > a:not(.all-caps){
    display: flex;
    /* box-sizing: border-box; */
    /* padding: 2px 1em; */
  }

  li .ul-marker{
    min-width: 0.6em;
    height: 100%;
    display: inline-block;
    margin-right: 0.8em;
  }

  .ul-marker.dark-green{
    background-color: #005D57;
  }

  .ul-marker.green{
    background-color: #00B782;
  }

  .ul-marker.light-green{
    background-color: #0EB;
  }

  .ul-marker.white{
    background-color: #FFFFFF;
  }

  li p, li .desc span{
    font-size: 1.5em;
    margin: 0 0.4em;
    display: block;
    color: #FFFFFF;
  }

  li .desc span:last-child{
    color: #B9B9B9;
    font-size: 1.3em;
    letter-spacing: 0.15em;
  }

  .value{
    font-size: 2.0em;
    min-width: 160px;
    position: absolute;
    text-align: right;
    right: 1em;
  }

  .value .icon{
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 0.7em;
    width: 1.2em;
    justify-content: center;
    margin-left: 0.4em;
    opacity: 0.5;
  }

  .value .icon i {
    position: absolute;
  }

  /* .alert li span:not(.ul-marker),
  .box li span:not(.ul-marker){
    flex-grow: 1;
  } */
  /* .alert li *:last-child,
  .box li *:last-child{
    min-width: 120px;
    width: 30%;
  } */

/*FORM STYLES*/

input{
  letter-spacing: 0.1em;
  font-weight: 500;
  height: 44px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

input[type="password"]{
  letter-spacing: 0.4em;
}

.input-container{
  position: relative;
  width: 100%;
}

.input-container .mini-label{
  color: #FFFFFF;
  font-size: 0.3em;
  left: 0;
  top: 0;
}

/*ICONS*/
.icon, i.material-icons{
  cursor: pointer;
}

/*
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3em;  /* Preferred icon size *//*
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. *//*
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. *//*
  text-rendering: optimizeLegibility;

  /* Support for Firefox. *//*
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. *//*
  font-feature-settings: 'liga';
}
/*END*/

/*

main{
  grid-column: 2/2;
  /*min-height: 400px;
  height: 440px;*//*
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

main form{
  height: auto;
  width: 100%;
  position: relative;
  padding-bottom: 53px;
}

form input[type="text"], form input[type="email"], form input[type="password"]{
  width: 100%;
  min-height: 44px;
  background: #292C32;
  border: none;
  margin: 8px 0;
  padding: 8px 12px;
  color: #FFFFFF;
  box-sizing: border-box;
}

.bottom-bar{
  position: absolute;
  bottom: 0;
  min-height: 38px;
  display: flex;
  width: 100%;
  align-items: center;
}

span.icon::after{
  content: "";
  padding: 11px;
  /* min-height: 16px; *//*
}

.bottom-bar input[type="checkbox"]{
  display: none;
}

.login-submit-bttn{
  background-color: #00B782;
  color: black;
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  border-radius: 7px;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9em;
  position: absolute;
  right: 0;
}


div.logo{
  background: white;
  height: 60px;
  margin: 0 auto;
  width: 60px;
}*/
